img{
  width: 200px;
  height: 200px;
  display: inline-block;
  object-fit: contain;
  object-position: center;
  vertical-align: top;
}

canvas{
  vertical-align: top;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width:600px) {
  img{
    width: 100px;
    height: 100px;
  }
}