img{
  width: 200px;
  height: 200px;
  display: inline-block;
  object-fit: contain;
  object-position: center;
  vertical-align: top;
}

canvas{
  vertical-align: top;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width:600px) {
  img{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width:400px) {
  img{
    width: 120px;
    height: 120px;
  }
}