<div class="container">
  <label for="file_upload">
    画像を選択して下さい
    <input id="file_upload" type="file" accept="image/*" (change)="onChangeFileInput($event)">
  </label>
  <button (click)="mozsaic()" class="mosaic-btn">モザイク!</button>
  <button (click)="reset()" class="reset-btn">リセット</button>
  <div>
    <p>濃さ: {{concentration}}</p>
    <input type="range" id="input-range" value="6" min="1" max="12" (change)="onChangeSlider()">
  </div>
  <p class="alert" *ngIf="alert">画像を選んでね！</p>
  <div class="image-container">
    <app-image-to-mosaic [src]="imgSrc" *ngIf="imgSrc"></app-image-to-mosaic>
    <mat-icon *ngIf="imgSrc && isMosaic">arrow_forward</mat-icon>
    <app-after-image  [src]="imgSrc" [concentration]="concentration" *ngIf="isMosaic"></app-after-image>
  </div>
</div>