*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  display: inline-block;
  vertical-align: top;
}

img{
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.mosaic-btn{
  width: 90px;
}

.reset-btn{
  width: 90px;
}

.alert{
  font-size: 15px;
  color: red;
  font-weight: bold;
}

.image-container{
  margin-top: 12px;
}

.mat-icon{
  display: inline-block;
  height: 200px;
  width: 42px;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  user-select: none;
  vertical-align: top;
}

label > input {
  display:none;
}

button, label{
  padding: 3px;
  margin-right: 12px;
  color: black;
  background-color: #eee;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  height: 30px;
  line-height: 24px;
  cursor: pointer;
  border: solid 1px black;
  cursor: pointer;

}