*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  display: inline-block;
  vertical-align: top;
}

img{
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.mosaic-btn{
  width: 90px;
}

.reset-btn{
  width: 90px;
}

.alert{
  font-size: 15px;
  color: red;
  font-weight: bold;
}

.image-container{
  margin-top: 12px;
}

.mat-icon{
  display: inline-block;
  height: 200px;
  width: 42px;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  user-select: none;
  vertical-align: top;
}

label > input {
  display:none;
}

button, label{
  text-align: center;
  vertical-align: middle;
  margin-right: 12px;
  color: black;
  background-color:white;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  height: 30px;
  line-height: 26px;
  cursor: pointer;
  border: solid 2px black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

label{
  width: 180px;
}

button:hover, label:hover{
  background-color: black;
  color:white;
}