img{
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

@media screen and (max-width:600px) {
  img{
    max-width: 180px;
    max-height: 180px;
  }
}


@media screen and (max-width:400px) {
  img{
    max-width: 120px;
    max-height: 120px;
  }
}