
html, body { height: 100%; }
body { margin: 9px 0 0 9px; font-family: Roboto, "Helvetica Neue", sans-serif; }

p, button, label{
  font-size: 15px;
}

@media screen and (max-width:600px) {
  p, button, label{
    font-size: 12px;
  }
}

button,input, label{
  cursor: pointer;
}